In [137]:
##script to pull down census data for target zip codes and clean up
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv()

api_key = os.getenv("CENSUS_KEY")  # put census key from census api in env file
trait = "B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_007E" #Eventually refactor into a legible dictionary for common queries
zip = "19121"
state = "42"  # PA, swap for 34 if looking at NJ
year = "2019"

trait_list = list(trait.split(","))
url = f"https://api.census.gov/data/{year}/acs/acs5/?get={trait}&for=zip%20code%20tabulation%20area:{zip}&in=state:{state}&key={api_key}"
print(url)
df = pd.read_json(url)
new_header = df.iloc[0]  # grab the first row for the header
df = df[1:]  # take the data less the header row
df.columns = new_header  # set the header row as the df header
var_lookup = pd.read_json(
    "https://api.census.gov/data/2019/acs/acs5/profile/variables.json"
)  # lookup table
var_lookup.columns = ["code"]
new_column_list=[]
for col in df:
    print(col)
    print(type(col))
# for trait in trait_list:
#     command = f"var_lookup.code.{trait}['label']"
#     exec(command)
df.head()

https://api.census.gov/data/2019/acs/acs5/?get=B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_007E&for=zip%20code%20tabulation%20area:19121&in=state:42&key=09444a175e2a503758ee058f2e705405097dd4cd
B02001_001E
<class 'str'>
B02001_002E
<class 'str'>
B02001_003E
<class 'str'>
B02001_004E
<class 'str'>
B02001_005E
<class 'str'>
B02001_006E
<class 'str'>
B02001_007E
<class 'str'>
B02001_007E
<class 'str'>
state
<class 'str'>
zip code tabulation area
<class 'str'>

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_007E,state,zip code tabulation area
1,32385,5236,24231,217,1373,69,628,628,42,19121

In [71]:
var_lookup=pd.read_json("https://api.census.gov/data/2019/acs/acs5/profile/variables.json")
var_lookup.columns = ["code"]
print(var_lookup.code.DP02PR_0001E["label"])
print(type(var_lookup.code.DP02PR_0001PE))
var_lookup.head(20)

Estimate!!HOUSEHOLDS BY TYPE!!Total households
<class 'dict'>

                                                            code
AIANHH         {'label': 'Geography', 'group': 'N/A', 'limit'...
AIHHTL         {'label': 'Geography', 'group': 'N/A', 'limit'...
AIRES          {'label': 'Geography', 'group': 'N/A', 'limit'...
ANRC           {'label': 'Geography', 'group': 'N/A', 'limit'...
CBSA           {'label': 'Geography', 'group': 'N/A', 'limit'...
CD             {'label': 'Geography', 'group': 'N/A', 'limit'...
CNECTA         {'label': 'Geography', 'group': 'N/A', 'limit'...
CONCITY        {'label': 'Geography', 'group': 'N/A', 'limit'...
COUNTY         {'label': 'Geography', 'group': 'N/A', 'limit'...
COUSUB         {'label': 'Geography', 'group': 'N/A', 'limit'...
CSA            {'label': 'Geography', 'group': 'N/A', 'limit'...
DIVISION       {'label': 'Geography', 'group': 'N/A', 'limit'...
DP02PR_0001E   {'label': 'Estimate!!HOUSEHOLDS BY TYPE!!Total...
DP02PR_0001PE  {'label': 'Percent!!HOUSEHOLDS BY TYPE!!Total ...
DP02PR_0002E   {'label': 'Estimate!!HOUSEHOLDS BY TYPE!!Total...
DP02PR_0002PE  {'label': 'Percent!!HOUSEHOLDS BY TYPE!!Total ...
DP02PR_0003E   {'label': 'Estimate!!HOUSEHOLDS BY TYPE!!Total...
DP02PR_0003PE  {'label': 'Percent!!HOUSEHOLDS BY TYPE!!Total ...
DP02PR_0004E   {'label': 'Estimate!!HOUSEHOLDS BY TYPE!!Total...
DP02PR_0004PE  {'label': 'Percent!!HOUSEHOLDS BY TYPE!!Total ...

In [114]:
var_lookup=pd.read_json("https://api.census.gov/data/2019/acs/acs5/profile/variables.json")
var_lookup['variables'].apply(pd.Series)
print(type(var_lookup.variables))
var_lookup.variables.head()

# var2 = pd.json_normalize(var_lookup['variables'])
# var2.head(20)

<class 'pandas.core.series.Series'>

AIANHH    {'label': 'Geography', 'group': 'N/A', 'limit'...
AIHHTL    {'label': 'Geography', 'group': 'N/A', 'limit'...
AIRES     {'label': 'Geography', 'group': 'N/A', 'limit'...
ANRC      {'label': 'Geography', 'group': 'N/A', 'limit'...
CBSA      {'label': 'Geography', 'group': 'N/A', 'limit'...
Name: variables, dtype: object